#if( $iva && $json)
#parse('registri/json/iva.json_vm')
#elseif($json)
#parse('registri/json/doganale.json_vm')
#else
#if( $iva )
#set($activeMenu='IVA')
#else 
#set($activeMenu='DOGANALE')
#end
#parse('costanti.vm')
#*
#set( $addCss = ['/js/jquery.ui/themes/flora/flora.all.css','/style/tablefilter/tableFilter.aggregator.css','/style/tablefilter/tableFilter.css','/style/grid.css'] )
#set( $addJs = ['/js/jquery.ui/ui.calendar.js','/js/jquery.jqgrid/jquery.jqGrid.js'])
#parse('header.vm')

<script>
function initRowHighlighting(){
var table = document.getElementById('tablemovimenti');
attachRowMouseEvents(table.getElementsByTagName('tr'));
}
function attachRowMouseEvents(rows){
for(var i = 0;i < rows.length;i++){
var row = rows[i];
row.onmouseover = function(){ highlightRow(this, true);}
row.onmouseout = function() { highlightRow(this, false);}
// row.style.cursor = 'pointer';
}}

function highlightRow( row, isover) { 
if ( row.getAttribute('origClass') == null )
	row.setAttribute('origClass' , row.className) ;
	
row.className = isover ? 'hi' : row.getAttribute('origClass');
}

window.onload = initRowHighlighting;
</script>
*#
#set( $addCss = ['/style/tablefilter/tableFilter.aggregator.css','/style/tablefilter/tableFilter.css','/style/grid.css','/js/jquery.ui/themes/flora/flora.dialog.css','/js/jquery.ui/themes/flora/flora.all.css'] )
#set( $addJs = ['/js/jquery.jqgrid/jquery.jqGrid.js','/js/jquery.ui/ui.calendar.js','/js/jquery.ui/ui.dimensions.js','/js/jquery.ui/ui.mouse.js','/js/jquery.ui/ui.draggable.js','/js/jquery.ui/ui.resizable.js','/js/jquery.ui/ui.dialog.js'])
#parse('header.vm')


<script type="text/javascript">
function initRowHighlighting(){
var table = document.getElementById('tablemovimenti');
attachRowMouseEvents(table.getElementsByTagName('tr'));
}
function attachRowMouseEvents(rows){
for(var i = 0;i < rows.length;i++){
var row = rows[i];
row.onmouseover = function(){ highlightRow(this, true);}
row.onmouseout = function() { highlightRow(this, false);}
// row.style.cursor = 'pointer';
}}

function highlightRow( row, isover) { 
if ( row.getAttribute('origClass') == null )
	row.setAttribute('origClass' , row.className) ;
	
row.className = isover ? 'hi' : row.getAttribute('origClass');
}



function preparaPagine() {
//var w = window.open('voidreg.html','x','width=10,height=10,scrollable=no');
//w.blur();
var n = document.getElementById('numPagine').value ;
var f = document.getElementById('fromPagina').value ;

if ( n + 10 == 10 ) return false;
if ( f + 10 == 10 ) return false;

stp.printPages( 1 * n, 1 * f);

$("#dlg_Prepara").dialogClose();
//setTimeout( function() { w.printPages(5,102); } , 1000 ) ;
}

$('document').ready( function() {

$("#dlg_Prepara").dialog({ width:400,
height:120,buttons:{Stampa: function(){preparaPagine();} ,Annulla : function() { $("#dlg_Prepara").dialogClose(); } } 
});
$("#dlg_Prepara").dialogClose();


$("#dlg_Print").dialog({ width:400,
height:160,buttons:{Stampa: function(){stampaRegistro();} ,Annulla : function() { $("#dlg_Print").dialogClose(); } } 
});
$("#dlg_Print").dialogClose();

$("#dlg_Confirm").dialog({ width:400,
height:120,buttons:{Si: function(){confirmedStampa();} , No : function() { $("#dlg_Confirm").dialogClose(); } } 
});
$("#dlg_Confirm").dialogClose();

jQuery("#tablemovimenti").jqGrid({
#if($iva)#set($regiva='iva=true&')#end
url:'.registri?$!{regiva}json=true&records=$!records&idMerce='+ '' + '&inputNum= ' + $("#inputNum").val() + '&inputDal=' + $("#inputDal").val() + '&inputAl=' + $("#inputAl").val() + '&ndS='+new Date().getTime(),
datatype: 'json', 
height: 350, 
colNames:['N.','Data','Cons.','Part.' , 'Documento', 'Merce','umido<br />IN','umido<br />OUT','secco<BR >IN','secco<BR />OUT'
#if($iva) ,'&euro;','$'#end ],
colModel:[
{name:'numero',index:'numregistro',width:50,align:'center',filterType:'text'},
{name:'data',index:'data',width:80,align:'center',filterType:'date'},
{name:'consegna',index:'C.numero',width:60,align:'center',filterType:'text'},
{name:'n_partitario',index:'C.numpartitario',width:50,align:'center'},
{name:'documento',index:'documento',width:100,sortable:false},
{name:'merce',index:'M.nome',width:120,filterType:'select'},
##options:[#foreach($m in $merci)#if($velocityCount  >1),#end {name:'$m.Nome',value:'$m.Id'}#end]},
{name:'umido_in',index:'umido',width:60,sortable:false},
{name:'umido_out',index:'umido',width:60,sortable:false},
{name:'secco_in',index:'secco',width:60,sortable:false}, 
{name:'secco_out',index:'secco',width:60,sortable:false}
#if($iva)
,{name:'val_euro',index:'valoreeuro',width:60,sortable:false},
{name:'val_dollari',index:'valoreeuro',width:60,sortable:false}
#end
],
width:920

,rowNum:15,rowList:[15,30,60], 
loadtext:'Caricamento dati...',
imgpath: 'images', 
pager: jQuery('#pager')
});

     popUpCal.regional['it'] = {clearText: 'Svuota', closeText: 'Chiudi',
		prevText: '&lt;Prec', nextText: 'Succ&gt;', currentText: 'Oggi',
		dayNames: ['Do','Lu','Ma','Me','Gio','Ve','Sa'],
	monthNames: ['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno',
	'Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre']};
popUpCal.setDefaults(popUpCal.regional['it']);
   }
 
);
function doSearch(){ 
try{
	var active=jQuery("#actNum");
	var numero='';
	if(active.attr('checked')==true)
		numero = jQuery("#inputNum").val(); 
	
	active=jQuery("#actDate");
	var dal='';
	var al='';
	if(active.attr('checked')==true){
		dal = jQuery("#inputDal").val();
		al = jQuery("#inputAl").val();
	}
	active=jQuery("#actConsegne");
	var consegne='';
	if(active.attr('checked')==true)
		consegne=jQuery("#consegne").val();
	
	active=jQuery("#actMerce");
	var idmerce='';
	if(active.attr('checked')==true)
		idmerce = jQuery("#selmerce").val();
	
	jQuery("#tablemovimenti").setUrl(".registri?$!regiva&json=true&idMerce="+ idmerce + "&consegna=" + consegne + "&inputNum=" + numero + "&inputDal=" + dal + "&inputAl=" + al); 
	jQuery("#tablemovimenti").setPage(1);
	jQuery("#tablemovimenti").trigger("reloadGrid");
}
catch(e){alert(e.message);}
	return false;
}

var from = 0, to = 0;

function printIFrame(f, t) {
from = f ; to = t ;
var iva = #if($isIva)'true'#else'false'#end ;
window.print();
$('#dlg_Confirm').dialogOpen();
}
function confirmedStampa() {
var iva = #if($isIva)'true'#else'false'#end ;
//stp.location.href='.registri?iva=' + iva + '&confirm=1&cmd=stampa&f=' + from + '&t=' + to ;
$('#ret').load('.registri?iva=' + iva + '&confirm=1&cmd=stampa&f=' + from + '&t=' + to , 
		{} , function() {$('#dlg_Confirm').dialogClose();});

}
function stampaRegistro() {
var numpag = document.getElementById('numPaginePrint').value;
var from = document.getElementById('fromMovimento').value;
var iva = #if($isIva || $iva)'true'#else'false'#end ;

//stp = window.open( '.registri?iva=' + iva + '&cmd=stampa&f=' + from + '&n=' + numpag , '' , 'width=10,height=10');
//window.focus();
##stp.location.href='.registri?iva=' + iva + '&cmd=stampa&f=' + from + '&n=' + numpag ;

$('#ret').load('.registri?iva=' + iva + '&cmd=stampa&f=' + from + '&n=' + numpag ) ;
$('#dlg_Print').dialogClose();
}
var stp ;
</script> 

##<iframe name="stp" src="voidreg.html" width="10" height="10" style="visibility:hidden;position:absolute;"></iframe>

#set($dateFormat = 'dd/MM/yy')

<div class="print" id="ret"></div>

<div class="view">

<table border="0" id="tablemovimenti" class="scroll" cellpadding="0" cellspacing="0"></table>
<div id="pager"  class="scroll"></div>


##<div align="center"><input type="button" value="Applica Filtri" onclick="return doSearch();"></div>


<div class="commands">
<ul>
<li><a href="#" onclick="$('#dlg_Prepara').dialogOpen(); return false;"><img src="$!images/action-ico-registra.png" />Prepara Pagine</a></li>
<li><a href="#" onclick="$('#dlg_Print').dialogOpen(); return false;"><img src="$!images/action-ico-registra.png" />Stampa Registro</a></li>
</ul>
</div>

<div id="dlg_Prepara" class="flora" style="text-align:center;">
Prepara <input type="text" id="numPagine" value="10" size="3" />pagine a partire dal numero  <input type="text" id="fromPagina" value="" size="3"  /> 
</div>
<div id="dlg_Print" class="flora" style="text-align:center;">
Stampa <input type="text" id="numPaginePrint" value="2" size="3" /> pagine <br />
a partire dal movimento numero <input type="text" id="fromMovimento" value="$!proxNumDaStampare" size="3"  />
</div>
<div id="dlg_Confirm" class="flora" style="text-align:center;">
La stampa &egrave; stata completata correttamente ?
</div>
#parse('footer.vm')

</div>
#end
