#parse('costanti.vm')
#parse('header.vm')

<script type="text/javascript">
function doConfirm(lnk, msg) { if ( confirm( msg ) ) location.href = lnk.href + '&exec=1'; }
function calcolaSecco(btn) {
var f = btn.form;
var umido, secco ;
var tasso = $obj.Stallo.Consegna.TassoUmidita ;

try {
umido = 1 * f.umido.value.replace('\.','').replace(',','.') ;

f.secco.value = umido - ( umido * tasso / 100) ;

}
catch (e) { alert ( 'Errore  : ' + e.message) ; }
}
</script>
<h2>
Modifica Movimento
</h2>
#foreach( $i in $list )
#set( $m = $i )
#set( $obj = $i )
#end

<form action="?" method="post" id="mainForm">
<input type="hidden" name="cmd" value="editgroup" />
<input type="hidden" name="idC" value="$m.Consegna.Id" />


<input type="hidden" name="iva" value=#if($isIva)"1"#else"0"#end>

<input type="hidden" name="t" value="$m.Tipo" />

#*Tipo : <select name=""><option value="0">Carico</option>
<option value="1" #if(!  $m.getIsScarico())selected="selected" #end>Scarico</option></select>
#if($m.Stallo.Consegna.getHasRettifica() ) - <label for="isrettifica">Rettifica:</label>
<select name="isrettifica" id="isrettifica">
<option value="false">NO</option>
<option value="true" #if($!obj.getIsRettifica()) selected="selected" #end>SI</option>
</select>#end
*#

#parse('movimenti/pannelli_dettagli.vm')

<style>
table{ border-collapse:  colapse; }
th { text-align: center; background-color: #CCC;}
td {text-align: center; }
</style>

<fieldset><legend>Dettagli Movimento </legend>
<table border="0" width="100%">

<thead><tr><th>Stallo</th>
<th>Umido<br>Ingresso</th><th>Umido<br>Uscita</th>
<td>&nbsp;</td>
<th>Secco<br>Ingresso</th><th>Secco<br>Uscita</th>

#if ( $isIva )
<th>Valore &euro;</th>
<th>Valore $</th>
#end
</thead>
<tbody>
#foreach( $m in $list )
<tr>
<td>$!m.Stallo.Parco $!m.Stallo.Numero <a href=".consegne?cmd=delete&exec=1&id=$m.Id&idC=$m.Consegna.Id#if($isIva)&iva=1#end" onclick="doConfirm(this, 'Eliminare questo movimento?') ;return false;">[Elimina]</a><input type="hidden" value="$m.Id" name="id" /></td>

#if($m.getIsScarico() ||  $m.Umido.intValue() < 0 )
#if( $m.Umido.intValue() < 0 )
<td class="r"><input type="text" value="0" name="u0_$m.Id" size="10" /></td>
<td class="r">
<input type="text" value="$!tools.Number.format('###0',$tools.Math.mul( -1 , $m.Umido))" name="u1_$m.Id" size="10"/></td>
#else
<td class="r"><input type="text" value="0" name="u1_$m.Id" size="10" /></td>
<td class="r"><input type="text" value="$!tools.Number.format('###0', $m.Umido)" name="u0_$m.Id" size="10"/></td>
#end
#else
<td class="r"><input type="text" value="$!tools.Number.format('###0',$m.Umido)" name="u0_$m.Id" size="10" /></td>
<td class="r"><input type="text" value="0" name="u1_$m.Id" size="10" /></td>
#end



<td>&nbsp;</td>
#if($m.getIsScarico() ||  $m.Secco.intValue() < 0 )
#if( $m.Secco.intValue() < 0 )
<td class="r"><input type="text" value="0" name="s0_$m.Id" size="10" /></td>
<td class="r">
<input type="text" value="$!tools.Number.format('###0',$tools.Math.mul( -1 , $m.Secco))" name="s1_$m.Id" size="10"/></td>
#else
<td class="r"><input type="text" value="0" name="s1_$m.Id" size="10" /></td>
<td class="r"><input type="text" value="$!tools.Number.format('###0', $m.Secco)" name="s0_$m.Id" size="10"/></td>
#end
#else
<td class="r"><input type="text" value="$!tools.Number.format('###0',$m.Secco)" name="s0_$m.Id" size="10" /></td>
<td class="r"><input type="text" value="0" name="s1_$m.Id" size="10" /></td>
#end

#if ( $isIva )
<td class="r"><input type="text" value="$!tools.Number.format('###0',$m.ValoreEuro)" name="v0_$m.Id" size="10" /></td>
<td class="r"><input type="text" value="$!tools.Number.format('###0',$m.ValoreDollari)" name="v1_$m.Id" size="10" /></td>
#end
</tr>
#end
</tbody>
</table>
</fieldset>

<div style="clear:left;">
<br />
</div>



<input type="hidden" name="cmd" value="editmovimento" />
<input type="hidden" name="exec" value="1" />
<input type="hidden" name="id" value="$!obj.Id" />

<br />

#if( $result ) <div id="result">Modifica effettuata</div> #end

#if( $param_error ) 
$param_error.ParamName
##$param_error.printStackTrace()
<script type="text/javascript">

</script>
#end

</form>


<div class="commands">
<ul>
<li><a href="#" onclick="getElementById('mainForm').submit();"><img src="$!images/action-ico-registra.png" />Salva</a></li>
<li><a href=".consegne?id=$m.Consegna.Id"><img src="$!images/action-ico-elimina.png" /> Annulla</a></li>
</ul>
</div>


#parse('footer.vm')

