#parse('costanti.vm')
#set( $addJs = ['/js/jquery.ui/ui.calendar.js'])
#set( $addCss = ['/js/jquery.ui/themes/flora/flora.calendar.css'] )
#parse('header.vm')
#if ( $err.getClass().toString().equals("RequiredParameterException") ) 
alert( $err.getParamName() );
#end

<script type="text/javascript">

$('document').ready( function() {
popUpCal.regional['it'] = {clearText: 'Svuota', closeText: 'Chiudi', prevText: '&lt;Prec', nextText: 'Succ&gt;', currentText: 'Oggi',
dayNames: ['Do','Lu','Ma','Me','Gio','Ve','Sa'], monthNames: ['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno','Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre']};
popUpCal.setDefaults(popUpCal.regional['it']);

jQuery('.data').calendar();
} );

function calcolaSecco(btn) {
var f = btn.form;
var umido, secco ;
var tasso = #if( $!obj.Consegna.TassoUmidita ) $!obj.Consegna.TassoUmidita #else 0 #end ;

try {
umido = 1 * f.umido.value.replace('\.','').replace(',','.') ;

f.secco.value = umido - ( umido * tasso / 100) ;

}
catch (e) { alert ( 'Errore  : ' + e.message) ; }
}
</script>
<h2>
Nuovo Movimento del Registro #if($isIva)IVA#else Doganale#end
</h2>
#set( $m = $obj )

<form action="?" method="post" id="mainForm">
<input type="hidden" name="cmd" value="newmovimento" />
<input type="hidden" name="idC" value="$m.IdConsegna" />

<input type="hidden" name="t" value="0" />
<input type="hidden" name="isscarico" value="0" />

<input type="hidden" name="umido" value="0" />
<input type="hidden" name="secco" value="0" />
<input type="hidden" name="locked" value="0" />
<input type="hidden" name="idconsegna" value="$m.IdConsegna" />
<input type="hidden" name="idmerce" value="$m.Consegna.Idmerce" />
#if ( $isIva )
<input type="hidden" name="iva" value="1" />
<input type="hidden" name="valoreeuro" value="0" />
#end
<br />


#parse('movimenti/pannelli_dettagli.vm')


<style>
table{ border-collapse:  colapse; }
th { text-align: center; background-color: #CCC;}
td {text-align: center; }
</style>

<fieldset><legend>Dettagli Movimento </legend>
<table border="0" width="100%">

<thead><tr><th>Stallo</th>
<th>Umido<br>Ingresso</th><th>Umido<br>Uscita</th>
<td>&nbsp;</td>
<th>Secco<br>Ingresso</th><th>Secco<br>Uscita</th>

#if ( $isIva )
<th>Valore &euro;</th>
<th><span >IVA &euro;</span></th>
<th>Valore $</th>
#end
<th>&nbsp;</th>
</thead>

#*<thead><tr><th>Stallo</th>
<th>Umido<br>Ingresso</th><th>Umido<br>Uscita</th>
 
<th>Secco<br>Ingresso</th><th>Secco<br>Uscita</th>

#if ( $isIva )
<th>Valore &euro;</th>
<th>Valore $</th>
#end
*#
</thead>
<tbody>

<tr>

<td>
<select name="idstallo">
#foreach( $s in $consegna.StalliRelazionati )
<option value="$s.Id">$s.Parco $!s.Numero</option>
#end
</select></td>



<td class="r"><input type="text" value="$!tools.Number.format('###0',$m.Umido)" name="u0_" size="8" /></td>
<td class="r"><input type="text" value="0" name="u1_" size="8" /></td>
<td>&nbsp;</td>
<td class="r"><input type="text" value="$!tools.Number.format('###0',$m.Secco)" name="s0_" size="8" /></td>
<td class="r"><input type="text" value="0" name="s1_" size="8" /></td>

#if ( $isIva )
<td class="r">
Netto: <input type="text" value="$!tools.Number.format('###0.00',$m.ValoreNetto)" name="v0_" size="8" /><br />
Oneri: <input type="text" value="$!tools.Number.format('###0.00',$m.ValoreTestp)" name="t0_" size="8" /><br />
</td>
<td  class="r">
<input type="text" value="$!tools.Number.format('###0.00',$m.ValoreIva)" name="iva0_" size="8" /><br />
</td>
<td class="r"><input type="text" value="$!tools.Number.format('###0.00',$m.ValoreDollari)" name="v1_" size="8" /></td>
#end


</tbody>
</table>

</fieldset>



<div style="clear:left;">
<br />
</div>



<input type="hidden" name="cmd" value="newmovimento" />
<input type="hidden" name="exec" value="1" />

##<input type="hidden" name="id" value="$!obj.Id" />

<br />

#if( $result ) <div id="result">Modifica effettuata</div> #end

#if( $param_error ) 
<script type="text/javascript">

 var el = $('input[name="$param_error.ParamName"]')
 el.css('border','1px solid red');
 
</script>
#end

</form>


<div class="commands">
<ul>
<li><a href="#" onclick="getElementById('mainForm').submit();"><img src="$!images/action-ico-registra.png" />Salva</a></li>
<li><a href=".consegne?id=$m.Consegna.Id"><img src="$!images/action-ico-elimina.png" /> Annulla</a></li>
</ul>
</div>


#parse('footer.vm')