<div style="float:left; width:40%; margin-right:2%; ">
## Registro : <strong>#if($isIva)IVA#else Doganale#end</strong><br />

<fieldset><legend>Dati Consegna</legend>
Numero : <strong>$!obj.Consegna.Numero</strong><br />
Merce : <strong>$!obj.Consegna.Merce.Nome</strong><br />
Iter : <strong>$!obj.Consegna.Iter.Nome</strong><br />
</fieldset>
<br />
<fieldset><legend>Dati Movimento</legend>
Tipo : <select  name="isrettifica" #if($m.Id > 0 )readonly="readonly" disabled="disabled"#end style="background-color:#FFFFFF">
<option value="1" #if($m.Tipo >= 10 )selected="selected"#end>Rettifica</option>
<option value="0" #if($m.Tipo < 10 )selected="selected"#end>Carico/Scarico</option>
</select>
## <input type="hidden" name="isrettifica" value="0" />
<br />

Data: <input type="text" name="data" size="10" maxlength="10" value="$m.Data.dmyString()"  class="data" /><br>

#if (  $isAdmin  || ( $m.NumRegistro && $m.NumRegistro.length() > 0 ) )
Numero Registro : #if ( $isAdmin ) ##&& ! ( $m.NumRegistro  || $m.NumRegistro.length() > 0 ) )
<input type="text" value="$!obj.NumRegistro" name="numregistro" />
#else
<strong>$!m.NumRegistro</strong>
#end<br />

#if("$!obj.CodPosizioneDoganale" == "4500")
#set($selected_naz = ' selected="selected" ')
#elseif("$!obj.CodPosizioneDoganale" == "4571")
#set($selected_enaz = ' selected="selected" ')
#elseif("$!obj.CodPosizioneDoganale" == "7100")
#set($selected_ext = ' selected="selected" ')
#elseif("$!obj.CodPosizioneDoganale" == "0000")
#set($selected_com = ' selected="selected" ')
#end
Posizione Doganale: <br />
<select name="posdoganale" id="posdoganale">
## <option value="$!obj.CodPosizioneDoganale">$!obj.CodPosizioneDoganale - $!obj.PosizioneDoganale $!obj.RegimeDoganale</option>
 <option value="$!obj.CodPosizioneDoganale">---</option>
<option value="0000" $!selected_com>Comunitaria (0000)</option>
<option value="7100" $!selected_ext>Extracomunitaria (7100)</option>
#if($isIva)
<option value="4571" $!selected_enaz>Extracomunitaria Nazionalizzata (4571)</option>
<option value="4500" $!selected_naz>Nazionale (4500)</option>
#end

</select>
<br />

#if("$!obj.CodProvenienza" == "PV")
#set($selected_pv = ' selected="selected" ')
#elseif("$!obj.CodProvenienza" == "PORTO")
#set($selected_porto = ' selected="selected" ')
#elseif("$!obj.CodProvenienza" == "MAGDOG")
#set($selected_magdog = ' selected="selected" ')
#end
Provenienza: <br />
<select name="codprovenienza" id="codprovenienza">
<option value="$!obj.CodProvenienza">---</option>
<option value="PV" $!selected_pv>Portovesme</option>
<option value="MAGDOG" $!selected_magdog>Magazzino Doganale</option>
<option value="PORTO" $!selected_porto>Porto</option>
</select>
<br />


#end

</fieldset>

</div>

<div>
<fieldset><legend>Documento </legend>
Tipo: <select name="doctype">#if( $obj.Documento)<option value="$!obj.Documento.Tipo">$!obj.Documento.Tipo</option>#end
<option value=""></option><option value="IM7">IM7</option><option value="IM4">IM4</option><option value="R">R</option><option value="COM">COM</option><option value="FT">FT</option></select>
Numero: <input type="text" name="docnum" size="4" value="$!obj.Documento.Numero" />
Data:  <input type="text" name="docdate" id="doc_data" size="8" class="data" value="$!obj.Documento.Data.dmyString()"/></fieldset>
<br />
<fieldset ><legend>Documento (Portovesme) </legend>
Tipo: <select name="docpvtype">#if( $!obj.DocumentoPV)<option value="$!obj.Documento.Tipo">$!obj.DocumentoPV.Tipo</option>#end
<option value=""></option><option value="PV">PV</option><option value="IM7">IM7</option><option value="IM4">IM4</option><option value="R">R</option><option value="COM">COM</option><option value="FT">FT</option></select>
Numero: <input type="text" name="docpvnum" size="4" value="$!obj.DocumentoPV.Numero"/>
Data:  <input type="text" id="docpvdate" name="docpvdate" size="8" class="data" value="$!obj.DocumentoPV.Data.dmyString()"/></fieldset>

<br />

<fieldset><legend>Note </legend>

Note predefinite: <select id="testi_note">
<option value="Intr. in dep.Dog.">Intr. in dep.Dog.</option>
<option value="Estr. da dep.Dog.">Estr. da dep.Dog.</option>
<option value="Intr. in dep.IVA">Intr. in dep.IVA</option>
<option value="Estr. da dep.IVA">Estr. da dep.IVA</option>
<option value="Rettifica Peso">Rettifica Peso</option>
<option value="Rettifica Valore Finale">Rettifica Valore Finale</option>
<option value="Rettifica Autofattura">Rettifica Autofattura</option>
</select> <input type="button" value="Imposta" 
onclick="var n=jQuery('#note');var newText=jQuery('#testi_note').val();if(n.val() == '' || confirm('Sostituire le note attuali con:\n'+newText+'?')) n.val(newText);"/>
<br />Note:
<textarea id="note" name="note" cols="40" rows="2" style="width:530px;height:60px">$!m.Note</textarea>



</fieldset>

<br />
<br />
</div>