
##
##
#set($oldParco = "")
#foreach( $s in $stalli ) 
#if($oldParco != $s.Parco)
#set($oldParco = $s.Parco)
#if ( $velocityCount > 1)</tr></table><br>#end
<table border="0" cellspacing="0" width="100%">
<tr>
<td colspan="8" class="c"><strong>Parco $s.Parco</strong></td>
</tr>
<tr>
<th>$s.Parco</th>
<th>Merce</th>
<th>Consegna</th>
<th>Partitario</th>
<th>IM7</th>
<th>IM4</th>
<th>Giacenza WMT</th>
<th>Giacenza DMT</th>
</tr>
#set($count = 0 )
#end
#set($count = $count + 1 )
<tr>
<td  width="60" class="c">$count</td>
#if( $s.IdConsegnaAttuale )
#set($c = $!s.Consegna )
<td class="l">$!c.Merce.Nome</td>
<td width="60" class="c">$!c.Numero</td>
<td width="60" class="c">$!c.NumeroPartitario</td>
#set( $im7 = '' )
#set( $im7 = $!c.getPrimoDocumento(false) )
#set( $im4 = '' )
#set( $im4 = $!c.getPrimoDocumento(true) )
<td width="60">$!im7.toString().replaceAll('IM7', '')&nbsp;</td>
<td width="60">$!im4.toString().replaceAll('IM4', '')&nbsp;</td>
#if( $c.Iter.Id != 4 )
<td width="60" class="r">$tools.Number.format($!s.getGiacenzaIva(false))&nbsp;</td>
<td width="60" class="r">$tools.Number.format($!s.getGiacenzaIva(true))&nbsp;</td>
#else
<td width="60" class="r">$tools.Number.format($!s.getGiacenzaDoganale(false))&nbsp;</td>
<td width="60" class="r">$tools.Number.format($!s.getGiacenzaDoganale(true))&nbsp;</td>
#end
##G.Attuale : $tools.Number.format( $s.Attuale )<br>
##G.Registro: $tools.Number.format( $s.Caricato )<br>

#else
#set($c = '' )
<td colspan="8"  class="l">Vuoto</td>
#end
</td>
</tr>
#end
</table>
