#set($oldParco = "")
##
#foreach( $s in $stalli ) 
##
#if($oldParco != $s.Parco)
#set($oldParco = $s.Parco)
#if ( $velocityCount > 1)</tr></table><br>#end
<table border="0" width="100%">
<tr>
<td colspan="4" align="center"><strong>Parco $s.Parco</strong></td>
#set($count = 0 )
#end
#set($count = $count + 1 )
#if( $velocityCount % 4 == 1)</tr><tr>#end
<td width="25%" class="stallo">
#if ( true || $s.Consegna.Numero > 0 )
<a href=".consegne?id=$!s.Consegna.Id#if (! $s.IdConsegnaAttuale)&cmd=edit#end" class="stallo" #if ( $s.IdConsegnaAttuale ) style="background-color:$!s.Consegna.Merce.Colore"#end >
#else
<a href=".main?id=$!s.Id&cmd=viewstallo" class="stallo" #if ( $s.IdConsegnaAttuale ) style="background-color:$!s.Consegna.Merce.Colore"#end >
#end
<span>$count</span>
<p style="position:relative;">
#if( $!stalliHelper.hasScarichiPendenti($s) )
<img src="$!images/important-round.png" style="position:absolute; right:0; top:0;"/>
#end
#if( $s.IdConsegnaAttuale )
Cons: <strong>$!s.Consegna.Numero</strong> - Partit: <strong>$!s.Consegna.NumeroPartitario</strong><br>
<strong>$!s.Consegna.Merce.Nome</strong><br>
#if( $!s.Consegna.Iter.Regdoganale )
Giacenza Dog.: $tools.Number.format($!s.getGiacenzaDoganale(false))<br>
#end
#if( $!s.Consegna.Iter.Regiva )
Giacenza IVA : $tools.Number.format($!s.getGiacenzaIva(false))<br>
#end

##G.Attuale : $tools.Number.format( $s.Attuale )<br>
##G.Registro: $tools.Number.format( $s.Caricato )<br>
#else
<br>
Vuoto<br><br>
#end
</p>
</a>
</td>

#end
</tr></table><br>