#set( $versione = '1.4.2.1' )
#set( $wwwRoot = '/DoganaPV')
#set($images = "$wwwRoot/images")
#set( $dateFormat = 'dd/MM/yyyy')
#set( $siteTitle = 'Deposito Doganale' )
#set( $subTitle = 'Portovesme s.r.l.' )
#set( $htmlTitle = "$siteTitle v.$versione - $subTitle"  )
#set($righePartitiari = 25)
#*

Changelog

Novembre 2018
  - New Feature - login tramite Active Directory
  - New Feature - Check presenza di movimenti senza data in Quadrelli 

1.4.2.1 Ottobre 2018
  - Corretto changelog
  - Aggiunto jar della versione
1.4.2 Ottobre 2018
  - Aggiunta gestione del caso della presenza di movimenti senza data in Quadrelli 
1.4.1 Settembre 2018
  - Sync template con versione attiva su PV
  - Aggiunti script di gestione e backup
1.4.0 Gennaio 2018
  - La rettifica aggiorna i valori unitari nello stalloConsegna
  - Possibilità di aprire una consegna con valore 0 di testTp
  
1.3.1 7 Aprile 2017
- Fix controllo scarichi da importare quando non c'è scarico precendentemente registrato
- Fix ricerca ultimo scarico registrato
- Fix apertura consegne Nazionali

1.3 18 Marzo 2017
- Registra valori per apertura IM7

1.2.1 18 Marzo 2017 
- Icona di allarme tiene conto solo degli movimenti registrati
  (in questo modo salta se ci sono movimenti da importare o da registrare)

1.2 05 Febbraio 2017 
- Icona di allarme per gli stalli con scarichi da importare
- Richiesta dei valori per tutte le Consegne 

1.1 3 Agosto 2016
- BugFixing stampa giacenze

1.0 24 Luglio 2016
- Stampa giacenze alla data specificata

*#