#set( $versione = '0.10' )
#set( $wwwRoot = '/DoganaPV')
#set($images = "$wwwRoot/images")
#set( $dateFormat = 'dd/MM/yyyy')
#set( $siteTitle = 'Deposito Doganale' )
#set( $subTitle = 'Portovesme s.r.l.' )
#set( $htmlTitle = "$siteTitle v.$versione - $subTitle"  )
#set($righePartitiari = 5)

