#parse('costanti.vm')
<html>
<head>
<title>$htmlTitle</title>

<link rel="stylesheet" type="text/css" href="$wwwRoot/style/main.css" media="screen" />
<link rel="stylesheet" type="text/css" href="$wwwRoot/style/structure.css" media="screen" />

<link rel="stylesheet" type="text/css" href="$wwwRoot/style/main_print.css" media="print" />
#if( $!addCssPrint )#foreach( $j in $addCssPrint )
<link rel="stylesheet" type="text/css" href="#if(!$j.startsWith('http:'))$wwwRoot#end$j"  media="print"/>
#end#end

#if( $!addCss )#foreach( $j in $addCss )
<link rel="stylesheet" type="text/css" href="#if(!$j.startsWith('http:'))$wwwRoot#end$j" />
#end#end

<script type="text/javascript" src="$wwwRoot/js/jquery.js"></script>
#if( $!addJs )#foreach( $j in $addJs )
<script type="text/javascript" src="#if(!$j.startsWith('http:'))$wwwRoot#end$j"></script>
#end#end
#*
<link media="screen" href="$wwwRoot/style/main_v2.css" type="text/css" rel="stylesheet" />
<link media="print" href="$wwwRoot/style/printer.css" type="text/css" rel="stylesheet" />*#

<script type="text/javascript">
function doPrint(landscape) {
if (typeof(jsPrintSetup) != 'undefined') {

   // set portrait orientation
   if ( landscape )
 	  jsPrintSetup.setOption('orientation', jsPrintSetup.kLandscapeOrientation);
   else 
   	  jsPrintSetup.setOption('orientation', jsPrintSetup.kPortraitOrientation);
   // set top margins in millimeters
   jsPrintSetup.setOption('marginTop', 10);
   jsPrintSetup.setOption('marginBottom', 10);
   jsPrintSetup.setOption('marginLeft', 10);
   jsPrintSetup.setOption('marginRight', 10);
   // set page header
   jsPrintSetup.setOption('headerStrLeft', '');
   jsPrintSetup.setOption('headerStrCenter', '');
   jsPrintSetup.setOption('headerStrRight', ''); // &PT');
   // set empty page footer
   jsPrintSetup.setOption('footerStrLeft', '');
   jsPrintSetup.setOption('footerStrCenter', '');
   jsPrintSetup.setOption('footerStrRight', '');
   // clears user preferences always silent print value
   // to enable using 'printSilent' option
   jsPrintSetup.clearSilentPrint();
   // Suppress print dialog (for this context only)
//    jsPrintSetup.setOption('printSilent', 1);
   // Do Print 
   // When print is submitted it is executed asynchronous and
   // script flow continues after print independently of completetion of print process! 
   jsPrintSetup.print();
   // next commands
} else {
	if ( confirm('Per poter stampare 衮ecessario installare un plugin di Firefox. Lo si vuole installare adesso?') )
		window.open( 'http://downloads.mozdev.org/jsprintsetup/jsprintsetup-0.9.2.xpi' );
	else 
		window.print();
}
}
</script>

</head>

<body>

<div id="containTestata">
<div id="testata">
<h1><small style="font-variant:normal">$subTitle<br /></small>$siteTitle</h1>
##<a id="newEvento" href=".eventi?cmd=edit" onclick="try { newEvento(); }catch( e){alert(e);} ;return false;">Nuovo</a>
<br /><br />
#parse('mainmenu.vm')
</div></div>

<div id="container"><div id="corpo">
<br />
#if( $msg )<div id="message">$msg</div>#end
#if( $error )<div id="message">$error.Message<br /><br /></div>#end

#if($err)
#if ( $err.getClass().getSimpleName().equals("RequiredParameterException") || $err.getClass().getSimpleName().equals("ParameterException") ) 
<script type="text/javascript">
$('document').ready( function() {
var el = jQuery("[name='$err.getParamName()']");
el.css('border', '2px solid red');
});
</script>
#else
<div style="border:1px solid red;widht:100%;background:#FF8;color:red;">
<br><b>&nbsp;ATTENZIONE !<br><br>
&nbsp;&nbsp;&nbsp;Si &egrave; verificato un errore: <br>
$err<br></b>
<br><br>
Dettagli dell'errore (da copiare e inviare via mail) :<br><br>
<textarea cols="80" rows="10" style="border:1px solid #888; width:80%">
$err
#set($trace=$err.getStackTrace())
#foreach($r in $trace)
#if($velocityCount<6)
$r
#end#end
</textarea>
<br><br>
</div>
#end#end