#set($activeMenu='PRINCIPALE')
#parse('costanti.vm')
#set( $addCss = ['/style/tablefilter/tableFilter.aggregator.css','/style/tablefilter/tableFilter.css','/style/grid.css','/js/jquery.ui/themes/flora/flora.dialog.css','/js/jquery.ui/themes/flora/flora.all.css'] )
#set( $addJs = ['/js/jquery.jqgrid/jquery.jqGrid.js','/js/jquery.ui/ui.calendar.js','/js/jquery.ui/ui.dimensions.js','/js/jquery.ui/ui.mouse.js','/js/jquery.ui/ui.draggable.js','/js/jquery.ui/ui.resizable.js','/js/jquery.ui/ui.dialog.js'])
#parse('header.vm')


<script type="text/javascript">

$('document').ready( function() {

popUpCal.regional['it'] = {clearText: 'Svuota', closeText: 'Chiudi',
	prevText: '&lt;Prec', nextText: 'Succ&gt;', currentText: 'Oggi',
	dayNames: ['Do','Lu','Ma','Me','Gio','Ve','Sa'],
monthNames: ['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno',
	'Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre']};
popUpCal.setDefaults(popUpCal.regional['it']);
   
$("#data").calendar();

});

</script>

<div class="view">
#parse('stalli/table.vm')

##<iframe name="stp" src=".main?p=1" width="10" height="10" style="visibility:hidden;position:absolute;"></iframe>

<div class="commands">
<div id="cambiaData" style="float: left; padding: 0px 0px 0px 12px;"><form method="GET">
<input type="hidden" name="cmd" value="home" />
<label>Vai al giorno: <input type="text" id="data" name="data" value="$!data.dmyString()" size="10"/></label><input  type="submit" value="OK"></form></div>
<ul>
#if($isAdmin)
<li><a href=".utenti"><img src="$!images/action-ico-registra.png" />Utenti </a></li>
<li><a href=".merci"><img src="$!images/action-ico-registra.png" />Merci </a></li>
#end
<li><a href=".main?cmd=recover"><img src="$!images/tab-ico-importazione.png"  height="24" />Backups</a></li>
<!--li><a href="#" onclick="$('#dlg_Print').dialogOpen(); return false;"><img src="$!images/action-ico-registra.png" />Stampa</a></li -->
<li><a href="#" onclick="doPrint(false); return false;"><img src="$!images/action-ico-registra.png" />Stampa</a></li>
<li><a href=".main" ><img src="$!images/action-ico-elimina.png" />Esci</a></li>
</ul>
</div>

</div>

<div class="print">
#parse('stalli/print.vm')
</div>


#*<div id="dlg_Print" class="flora" style="text-align:center;">
Stampa <input type="text" id="numPaginePrint" value="2" size="3" /> pagine <br />
a partire dal movimento numero <input type="text" id="fromMovimento" value="$!proxNumDaStampare" size="3"  />
</div>
*#
#parse('footer.vm')