@page { size: landscape;  margin: 0mm 10mm; }
HTML {}
BODY {
font-size : 10pt ;
font-family : Arial;
margin:	0;
padding: 0;
width:200mm;
height: 260mm; 
}
.page { padding: 10mm 0;}
.noprint { display: none;}
TABLE{ font-size:1em; border : 2px solid #000; border-collapse: collapse }
TH { border: 1px solid #000 ;  }
TD { text-align: right; border: 1px solid #000 ; padding: 1pt 2pt;}
TD.l { text-align: left; }
TD.c { text-align: center; }

TD.documento { font-size: 9pt;}
#riepilogoStalli { font-size: 10pt; border: none; margin:0 2pt;}

.view { display : none ; }
.flora {display: none ; visibility:hidden;}
#containTestata {display : none ; }
.commands{display:none;}