HTML {}
BODY {
font-size : 10pt ;
font-family : Arial;
margin:	0;
padding: 0;
width:210mm;
height: 279mm;
}
TABLE{ font-size:1em; border : 2px solid #000; border-collapse: collapse }
TH { border: 1px solid #000 ;  }
TD { height:12pt; text-align: right; border: 1px solid #000 ; padding: 1pt 2pt;}
TD.l { text-align: left; }
TD.c { text-align: center; }

.view { display : none ; }
.flora {display: none ; visibility:hidden;}
#containTestata {display : none ; }
.commands{display:none;}