HTML {}
BODY {
font : 14pt Arial ;
font-weight: bold ;
margin:	0;
padding: 0;
width:272mm;
height: 210mm;
}
.page { position: relative; width:100%;  page-break-inside:avoid; }
.nomeReg { text-align:center; }
.num { position: absolute ; top : 0mm; right:10mm;}

.pb {page-break-before: always ;}


.pagePartitario {  
width: 80%; padding: 80mm 0 0 30mm;
margin: 0 auto;  text-align:center; font-size: 24pt;   }

.copertinaPartitario { border: 3pt solid #000; 

text-align: left ; 
padding : 3pt ; 
width: 140mm ;
vertical-align : middle ;
}
.innerPartitario { border: 1pt solid #000 ;  padding : 1em; }
.titPartitario { font-size: 16pt ; }