HTML {}
BODY {
font : 14pt Arial ;
font-weight: bold ;
margin:	0;
padding: 0;
width:272mm;
height: 210mm;
}
.page { position: relative; width:100%; height:100%; page-break-inside:avoid; }
.nomeReg { text-align:center; }
.num { position: absolute ; top : 0mm; right:10mm;}