#set($activeMenu='PARTITARI')
#parse('costanti.vm')
#set($addJs=['/js/jquery.validate/jquery.validate.js','/js/jquery.validate/jquery.metadata.js','/js/jquery.validate/jquery.additional-method.js','/js/jquery.ui/ui.calendar.js','/js/jquery.ui/ui.dimensions.js','/js/jquery.ui/ui.mouse.js','/js/jquery.ui/ui.draggable.js','/js/jquery.ui/ui.draggable.ext.js','/js/jquery.ui/ui.resizable.js','/js/jquery.ui/ui.dialog.js','/js/jquery.tablefilter/jquery.cookies-packed.js','/js/jquery.tablefilter/prototypes-packed.js','/js/jquery.tablefilter/json-packed.js','/js/jquery.tablefilter/jquery.truemouseout-packed.js','/js/jquery.tablefilter/daemachTools-packed.js','/js/jquery.tablefilter/jquery.tableFilter.js','/js/jquery.tablefilter/jquery.tableFilter.columnStyle-packed.js','/js/jquery.tablefilter/pp.js'] )
#set( $addCss = ['/js/jquery.ui/themes/flora/flora.all.css','/style/tablefilter/tableFilter.aggregator.css','/style/tablefilter/tableFilter.css'] )
#parse('header.vm')
<script>
$().ready(function() 
{ try{
// $("#formConsegne").validate(); 
}
catch(e){alert(e.message);}
} 
);
</script>

#if( $result )<div id="result">#if( $msg ) $msg #else Modifica effettuata#end</div> #end

<h2>
#if ( $obj && $obj.Id )
Modifica Consegna <small>[id:$obj.Id]</small>
#else
Nuova Consegna 
#end
</h2>
<form action="?" method="post" id="formConsegne">

<table border="1" width="100%" cellspacing="0" cellpadding="3">
#if( $obj.Id )
<thead><tr>
<th>Dettagli</th>
##<th>Stalli: </th>
</tr></thead>#end
<tbody>
<td>
<input type="hidden" name="cmd" value="edit" />
<input type="hidden" name="exec" value="1" />
<input type="hidden" name="id" value="$!obj.Id" />
<input type="hidden" name="idConsegna" value="$!obj.Id" />

<div class="r">
Numero Consegna: <input name="numero" size="4" value="$!obj.Numero"  class="{required:true,number:true}"> - 
Numero Partitario : <input name="numpartitario" size="4" class="{required:true,number:true}"
#if($obj.Id) value="$!obj.NumeroPartitario" #else value="$!nextPartitario"#end><br>
</div>
<br>
Merce : <select name="idmerce" class="{required:true}">
<option value="">- Seleziona -</option>
#foreach( $i in $merci )<option value="$i.Id" #if($obj.Idmerce == $i.Id) selected #end>$i.Nome</option>#end
</select><br>
con Iter : <select name="iter" class="{required:true}">
<option value="">- Seleziona -</option>
#foreach( $i in $iters )<option value="$i.Id" #if($obj.IdIter == $i.Id) selected #end>$i.Nome</option>#end
</select><br>
Peso Polizza (Kg): <input name="pesopolizza" size="8" id="pesopolizza" value="$!tools.Number.format( $!obj.Pesopolizza)" class="{required:true,double:true}"> <input type="checkbox" #if($!obj.PesoFinalePortoCarico) checked #end name="pesofinaleportocarico" id="pesofinaleportocarico" value="true" />
<label for="pesofinaleportocarico">Peso Finale Porto di Carico</label><br>
Tasso di Umidit&aacute; : <input name="tassoumidita" size="8" class="{required:true,number:true}" value="$!tools.Number.format('##0.000000', $!obj.TassoUmidita).replaceAll(',','.')">% <br>
<br>
Provenienza : <input name="provenienza" value="$!obj.Provenienza" class="{required:true}"><br>
Origine : <input name="origine" value="$!obj.Origine" class="{required:true}"><br>
Mezzo : <input name="mezzo" value="$!obj.Mezzo" class="{required:true}"><br>
<br>
Posizione Doganale : <select name="posizione" class="{required:true}">
<option value="">- Seleziona -</option>
<option value="NAZ" #if($!obj.Posizione.equals('NAZ')) selected #end>Nazionale</option>
<option value="COM" #if($!obj.Posizione.equals('COM')) selected #end>Comunitaria</option>
<option value="EXT" #if($!obj.Posizione.equals('EXT')) selected #end>Extra Comunitaria</option>
<option value="XNZ" #if($!obj.Posizione.equals('XNZ')) selected #end>Nazionalizzata</option>
<option value="ALT" #if($!obj.Posizione.equals('ALT')) selected #end>altro</option>
</select>
<br>
Regime Doganale : <select name="regimedoganale" class="{required:true}">
<option value="">- Seleziona -</option>
<option value="7100" #if($!obj.Regimedoganale.equals('7100')) selected #end>7100</option>
<option value="4500" #if($!obj.Regimedoganale.equals('4500')) selected #end>4500</option>
<option value="4571" #if($!obj.Regimedoganale.equals('4571')) selected #end>4571</option>
<option value="altro" #if($!obj.Regimedoganale.equals('altro')) selected #end>altro</option>
</select>
<br>
Codice Doganale : <select name="codicenc" class="{required:true}">
<option value="">- Seleziona -</option>
<option value="26080000" #if($!obj.Codicenc.equals('26080000')) selected #end>26080000</option>
<option value="26070000" #if($!obj.Codicenc.equals('26070000')) selected #end>26070000</option>
<option value="altro" #if($!obj.Codicenc.equals('altro')) selected #end>altro</option>
</select><br>
<br>

Tasso di Cambio : <input name="tassocambio" size="4" value="$!tools.Number.format('##0.000000', $!obj.TassoCambio).replaceAll(',','.')"><br>

Valuta : <select name="isvalutaeuro">
<option value="0" #if(! $!obj.getIsValutaEuro()) selected #end>Dollari</option>
<option value="true" #if($!obj.getIsValutaEuro()) selected #end>Euro</option>
</select>
- 
Valore unitario : <input name="valoreunitario" size="8" value="$!tools.Number.format('##0.000000', $!obj.ValoreUnitario).replaceAll(',','.')" class="{required:true,number:true}" > <input type="button" value="Calcola" onclick="calcolaValoreUnitario(this)" />

##Aggiorna Peso secco dei Movimenti: <input type="checkbox"><br>
<br><br>

</td>
#if( $isAdmin && $obj.Id )
<td valign="top">
#set($parco = "")
#foreach( $s in $stalli ) 
#if($parco != $s.Parco)
#set($parco = $s.Parco)
#if ( $velocityCount > 1)</td><td valign="top">#end
#set($count = 0 )
#end
#set($count = $count + 1 )
<input type="checkbox" value="$s.Id" name="stalli" #if($s.IdConsegnaAttuale == $obj.Id || $s.IdConsegnaPrenotata == $obj.Id) checked #end id="stallo$velocityCount">
<label for="stallo$velocityCount">$parco $count</label>
## #if($s.IdConsegnaAttuale == $obj.Id)<a href=".consegne?id=$s.Id">[Movimenti]</a>#end
<br>

#end
</td>
#end
</tr>
</table><br>

#if( $param_error ) 

<script type="text/javascript">

var labels = document.getElementsByTagName('label')
alert( '$param_error.ParamName' );
for( i in labels )  {
if( labels[i].htmlFor == '$param_error.ParamName')  {
	alert('Errore nel campo ' + labels[i].innerHTML );
	break ;
}
}

</script>
#end

<script type="text/javascript">

var idConsegna = '$!obj.Id' ;

function getDouble(id){

var field=document.getElementById(id);
if(! field)return 0 ;

var v=field.value ;

if(field.tagName=='TD')v=field.innerHTML;

while(v.indexOf('.')> 0)v=v.replace('.','');

return 1 * v ;
}

function calcolaValoreUnitario(btn) {
var f = btn.form;
var pesoPolizza = getDouble('pesopolizza') ;

var umidita = f.tassoumidita.value  / 100 ;

var valoreTot = prompt('Inserire il valore totale della consegna') ;

if ( valoreTot < 0 ) {
	alert( 'errore ValoreTot: ' + valoreTot );
	return ;
}
else if ( umidita <= 0 ) {
	alert( 'errore umidita: ' + umidita );
	return ;
}
else if ( pesoPolizza <= 0 ) {
	alert( 'errore pesoPolizza: ' + pesoPolizza );
	return ;
}
else {
f.valoreunitario.value = Math.round( 100000 * valoreTot / ( pesoPolizza - ( pesoPolizza * umidita )  ) ) / 100000 ;
}
}

$('document').ready( function() {

popUpCal.regional['it'] = {clearText: 'Svuota', closeText: 'Chiudi',
prevText: '&lt;Prec', nextText: 'Succ&gt;', currentText: 'Oggi',
dayNames: ['Do','Lu','Ma','Me','Gio','Ve','Sa'],
monthNames: ['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno',
'Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre']};

popUpCal.setDefaults(popUpCal.regional['it']);

$("#dlg_ImportTo").dialog({ width:360,
height:140,buttons:{Importa: function(){importTo(true);} , Annulla : function() { $("#dlg_ImportTo").dialogClose(); } } 
});
$("#dlg_ImportTo").dialogClose();
$("#dlg_OpenC").dialog({ width:400,
height:370,buttons:{Apri: function(){OpenC(true);} ,Annulla : function() { $("#dlg_OpenC").dialogClose(); } } 
});
$("#dlg_OpenC").dialogClose();

jQuery('#dataImport').calendar();
jQuery('#dataOpenC').calendar();
jQuery('#doc_data').calendar();
jQuery('#docPV_data').calendar();

} ) ;

function openDialog( id , dialogId) {
idConsegna = id ;
$(dialogId).dialogOpen();
return false ;
}
function importTo( exec ) {

$("#dlg_ImportTo").dialogClose();
var data = jQuery('#dataImport').attr('value') ;

// var lnk = 
if( data && data != '' ) {
window.location.href = '.main?cmd=import&exec=1&idConsegna=' + idConsegna + '&to=' +  data ;
}

idConsegna = -1 ;
return false ;
}

function OpenC( exec ) {

$("#dlg_OpenC").dialogClose();

var f = document.getElementById('openC');

f.elements['id'].value = idConsegna;

idConsegna = -1 ;
f.submit();

return false ;
}

</script>

<div align="center">

<br>

<input type="submit" value="Salva" id="submit" style="display:none">
</div>
</form>

<div class="commands">
<ul>
#if ( $obj.Id )
<li>
#if($obj.isChiusa())
<a href="?cmd=edit&r=1&id=$obj.Id" onclick="return confirm('Creare una nuova consegna uguale?');">Duplica</a>
#elseif($obj.isAperta())
<a href="?cmd=chiudi&id=$obj.Id&exec=1" onclick="return confirm('Chiudere la consegna selezionata?');"><img src="$!images/action-ico-elimina.png" />Chiudi</a>
#else
<a href="#" x="?cmd=apri&id=$obj.Id&exec=1" onclick="openDialog($obj.Id,'#dlg_OpenC');return false;"><img src="$!images/action-ico-apri.png" />Apri</a>
#end
</li>
#end

<li><a href="#" onclick="getElementById('submit').click();"><img src="$!images/action-ico-registra.png" />Salva</a></li>
<li><a 
#if($obj.Id)
href=".consegne?id=$obj.Id"><img src="$!images/action-ico-modifica.png" /> Dettaglio</a></li>
#else 
href=".consegne?cmd=list"><img src="$!images/action-ico-elimina.png" /> Annulla</a></li>
#end
##<li><a href=".consegne?cmd=edit"><img src="$!images/action-ico-nuovo.png" /> Nuova consegna</a></li>
</ul>
</div>


<div id="dlg_OpenC" class="flora" style="text-align:center;">
Inserire la data del carico in ingresso :
<form action=".consegne" id="openC">
<input type="hidden" name="cmd" value="apri" />
<input type="hidden" name="exec" value="1" />
<input type="hidden" name="id" value="" />
<input name="data" type="text" size="10" maxlength="10" id="dataOpenC" /><br />
<fieldset><legend>Documento di Ingresso</legend>
Tipo: <select name="doc"><option value=""></option><option value="IM7">IM7</option><option value="IM4">IM4</option></select>
Numero: <input type="text" name="doc_num" size="8" />
Data:  <input type="text" name="doc_data" id="doc_data" size="10" maxlength="10"/></fieldset>
<fieldset><legend>Documento di Ingresso (Portovesme)</legend>
Tipo: <select name="docPV"><option value=""></option><option value="IM7">IM7</option><option value="IM4">IM4</option></select>
Numero: <input type="text" name="docPV_num" size="8"/>
Data:  <input type="text" id="docPV_data" name="docPV_data" size="10" maxlength="10" /></fieldset>
<br />
Note :<br />
<textarea name="note" cols="40" rows="4"></textarea>
</form>
</div>

#parse('footer.vm')