#set( $regIVA = $!obj.Iter.Regiva )
#set( $regDog = $!obj.Iter.Regdoganale )
<style>
BODY {
font-size : 10pt ;
font-family : Arial;
margin:	0;
padding: 0;
width:260mm;
height: 180mm;
}

TABLE { width : 100%; }

</style>

<div id="dettaglio">
Consegna Num.: <strong>$!obj.Numero</strong> - Partitario : <strong>$!obj.NumeroPartitario</strong><br />
Merce : <strong>$!obj.Merce.Nome</strong> - 
Iter : <strong>$!obj.Iter.Nome</strong><br>

#if( $!obj.Pesopolizza > 0 )Peso Polizza: <strong>$tools.Number.format($!obj.Pesopolizza) Kg #if($!obj.PesoFinalePortoCarico) (P.Finale Porto di Carico)#end</strong> -#end
Tasso di Umidit&agrave;: <strong>$!tools.Number.format('##0.00000', $!obj.TassoUmidita)%</strong>
</div>

#set($dateFormat = 'dd/MM/yy')
#set($oldStallo = '')
#foreach( $m in $obj.Partitario )
#if($oldStallo == '' || $oldStallo.Id != $m.Stallo.Id)
#if( $oldStallo.Id)

</tbody></table></div>
#end

#set($sumSecco = 0)
#set($sumUmido = 0)
#set($oldStallo = $m.Stallo)
<div id="partitario_$oldStallo.Id">
<table border="0" class="movimenti" cellpadding="2" cellspacing="0" id="tablemovimenti">
<caption>Stallo $oldStallo.Nome<br /><br /></caption>
<tr>
<th rowspan="2">Num.Reg.</th>
<th rowspan="2" style="width:70mm">Data</th>
<th rowspan="2" colspan="3" style="width:70mm">Documento</th>
<th width="10%" colspan="2" style="width:70mm">Umido</th>
<th rowspan="2" width="20">&nbsp;</th>
<th width="10%" colspan="2" style="width:70mm">Secco</th>
<th width="30%" rowspan="2">Note</th>

##<th width="20">Stallo</th>
##<th><input type="checkbox" onchange="selectDOG(this);" /></th>
</tr>
<tr>
<th>Entrata</th>
<th>Uscita</th>
<th>Entrata</th>
<th>Uscita</th>
</tr>
<tbody>

#end

<tr#if($velocityCount%2  == 0) class="odd"#end>
<td>
#if ( $m.NumRegistro )
$!m.NumRegistro
#else
#set($registraDOG = true)
<input type="checkbox" name="registraDOG" value="$m.Data" id="registraDOG_$velocityCount" />
##<label for="registraDOG_$velocityCount">Registra</label>
##<a href="?cmd=editmovimento&id=$m.Id&assegnaRegDoganale=1&exec=1">Registra</a>
#end
</td>
###NON SERVE + il TIPO
###<td>#if($m.getIsScarico()) S#else C#end #if($m.getIsRettifica())(R)
##<a  href=".consegne?cmd=editmovimento&id=$m.Id">Modifica</a></td>
####else&nbsp;&nbsp;&nbsp;&nbsp;#end</td>


<td>$tools.Date.format($dateFormat, $m.Data)</td>


#if($m.Documento)
<td class="c">$!m.Documento.Tipo</td>
<td class="c">$!m.Documento.Numero</td>
<td class="c">$!tools.Date.format('dd/MM/yy',$!m.Documento.Data)</td>
#else
<td></td><td></td><td></td>
#end
## #if($m.DocumentoPV)
## <td class="c">$!m.DocumentoPV.Tipo</td>
## <td class="c">$!m.DocumentoPV.Numero</td>
## <td class="c">$!tools.Date.format('dd/MM/yy',$!m.DocumentoPV.Data)</td>
## #else
## <td></td><td></td><td></td>
## #end

#if($m.getIsScarico() ||  $m.Umido.intValue() < 0 )
#if( $m.Umido.intValue() < 0 )
<td>&nbsp;</td>
<td class="r">$!tools.Number.format($tools.Math.mul( -1 , $m.Umido))</td>
#else
<td>&nbsp;</td>
<td class="r">$tools.Number.format($m.Umido)</td>
#end
#else
<td class="r">$tools.Number.format($m.Umido)</td>
<td>&nbsp;</td>
#end

<td>&nbsp;</td>

#if($m.getIsScarico() ||  $m.Secco.intValue() < 0 )
#if( $m.Secco.intValue() < 0 )
<td>&nbsp;</td>
<td class="r">$!tools.Number.format($tools.Math.mul( -1 , $m.Secco))</td>
#else
<td>&nbsp;</td>
<td class="r">$tools.Number.format($m.Secco)</td>
#end
#else
<td class="r">$tools.Number.format($m.Secco)</td>
<td>&nbsp;</td>
#end


<td>$!m.Note</td>



#if( $m.getIsScarico() )
#set($sumSecco = $tools.Math.sub( $sumSecco , $m.Secco ) )
#set($sumUmido = $tools.Math.sub( $sumUmido , $m.Umido ) )
#else
#set($sumSecco = $tools.Math.add( $sumSecco , $m.Secco ) )
#set($sumUmido = $tools.Math.add( $sumUmido , $m.Umido ) )
#end

#if ( "$sumUmido" == '0.0' )
##<tr class="sep"><td colspan="10" align="center">Svuotamento Stallo</td></tr>
#end

#end

#if( $oldStallo.Id)

</tbody></table></div>
#end
