#parse('costanti.vm')
#set( $regIVA = $!obj.Iter.Regiva )
#set( $regDog = $!obj.Iter.Regdoganale )
<style type="text/css" media="print">
BODY {
font-size : 10pt ;
font-family : Arial;
margin:	0;
padding: 12mm 0 0 0;
width:270mm;
height: 190mm;
color: #000;
}
.titoloStallo { padding:10px 0 2px 0; }
TABLE { width : 100%; font-size: 1em; border-collapse: collapse ; page-break-inside: avoid ; color: #000;}
CAPTION {border-bottom: 1px solid #000 ; font-size: 12pt; font-weight: bold;}
.movimenti TD {border: 1pt solid; padding: 1pt;}

.partitario { page-break-inside: avoid}
.pb {page-break-before: always ;}
.c {text-align : center;}
.r {text-align: right; padding: 1pt 2pt 1pt 1pt; }
#numPartitario {   top:0; padding-left: 150mm ; font-size:14pt; font-weight: bold ;}
.tot TD { border : 0 none ;  border-top : 2px solid ; }
.tot TD.f { border : 0 none ;  }
.note {font-size:8pt;}
</style>

#set($sumPagina = 0)
#set($rigaPartitario = 0)
#set($dateFormat = 'dd/MM/yy')
#set($oldStallo = '')
#foreach( $m in $obj.Partitario )
#set($rigaPartitario = $rigaPartitario + 1 )
#set($nuovoStallo = ( $oldStallo == '' || $oldStallo.Id != $m.Stallo.Id  ) )
#if( $nuovoStallo || ( $rigaPartitario  % $righePartitiari ) == 0 )
#if( $oldStallo.Id )
##if ( $sumUmidoIn == $sumUmidoOut )
<tr class="tot">
<td colspan="10" class="f" style="height:1pt;"><img src="$!wwwRoot/images/bgrabber.gif" width="1" height="1" alt=" "/></td>
</tr>
<tr class="tot">
<td colspan="5" class="r">Giacenza Attuale:</td>
#*
<td>$tools.Number.format($sumUmidoIn)</td>
<td>$tools.Number.format($sumUmidoOut)</td>
*#
<td class="c" colspan="2">$tools.Number.format($sumUmido)</td>
##<td>&nbsp;</td>
#*<td>$tools.Number.format($sumSeccoIn)</td>
<td>$tools.Number.format($sumSeccoOut)</td>
*#
<td class="c" colspan="2">$tools.Number.format($sumSecco)</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
##end
</tbody></table></div>
#end
#set($sumPagina = $sumPagina + 1)
#if($velocityCount > 2 )
<div class="pb">&nbsp;</div>#end

#if( $nuovoStallo )
#set($rigaPartitario = 0)
#set($sumSecco = 0)
#set($sumUmido = 0)
#set($sumUmidoIn = 0)
#set($sumUmidoOut = 0)
#set($sumSeccoIn = 0)
#set($sumSeccoOut = 0)
#end
<div id="partitario_$oldStallo.Id" class="partitario">

<table border="0" class="movimenti" cellpadding="2" cellspacing="0" class="tablemovimenti">
<caption><div id="numPartitario">$!obj.NumeroPartitario / $sumPagina</div>
<div id="dettaglio">
<br />
<table border="0" style="font-size:9pt"><tr><td valign="top" style="text-align:left; border:0;">
Merce : <strong>$!obj.Merce.Nome</strong><br />
Consegna: <strong>$!obj.Numero</strong><br />
Peso Polizza: #if( $!obj.Pesopolizza ) <strong>$tools.Number.format($!obj.Pesopolizza) Kg #if( false && $!obj.PesoFinalePortoCarico) (P.Finale Porto di Carico)#end</strong>#end<br />
##Tasso di Umidit&agrave;: <strong>$!tools.Number.format('##0.00000', $!obj.TassoUmidita)%</strong>
## Regime Doganale: <strong>$!obj.RegimeDoganale</strong><br />
Designazione Merce: <strong>$!obj.Merce.Descrizione</strong><br />
Codice N.C.: <strong>$!obj.Merce.CodiceTaric</strong><br />
## Posizione Doganale: <strong>$!obj.Posizione</strong><br />
</td><td valign="top" style="text-align:left; border:0;">
Provenienza: <strong>$!obj.Provenienza</strong><br />
Origine: <strong>$!obj.Origine</strong><br />
Mezzo di Trasporto: <strong>$!obj.Mezzo</strong><br />
</td>
#* NON Li mettiamo più
<td valign="top" style="text-align:left; border:0;">
Tasso di cambio: <strong>$!obj.Tassodicambio</strong><br />
Fattura Provvisoria: <strong>$!obj.Fatturaprovvisoria.Numero</strong>  del: <strong>$!obj.Fatturaprovvisoria.Data</strong><br />
&euro;: <strong>$!obj.Fatturaprovvisoria.Euro</strong> / 
$: <strong>$!obj.Fatturaprovvisoria.Euro</strong><br />
Fattura Definitiva: <strong>$!obj.Fatturadefinitiva.Numero</strong>  del: <strong>$!obj.Fatturadefinitiva.Data</strong><br />
&euro;: <strong>$!obj.Fatturadefinitiva.Euro</strong> / 
$: <strong>$!obj.Fatturadefinitiva.Euro</strong><br />
</td>
*#
</tr></table>
</div>
<div class="titoloStallo">Stallo $m.Stallo.Nome #if($oldStallo.Id == $m.Stallo.Id)(continua)#end</div></caption>
<tr>
<th rowspan="2" style="width:15mm">Numero<br />Registro</th>
<th rowspan="2" style="width:20mm">Data</th>
<th colspan="3" style="width:50mm">Documento</th>
<th colspan="2" style="width:70mm">Massa Lorda (Kg)</th>
## <th rowspan="2" width="20">&nbsp;</th>
<th colspan="2" style="width:70mm">Massa Netta (Kg)</th>
<th width="5%" rowspan="2">Posizione</th>
<th width="5%" rowspan="2">Regime</th>
<th width="10%" rowspan="2">Note</th>


##<th width="20">Stallo</th>
##<th><input type="checkbox" onchange="selectDOG(this);" /></th>
</tr>
<tr>
<th>Tipo</th>
<th>N.</th>
<th>Data</th>
<th>Entrata</th>
<th>Uscita</th>
<th>Entrata</th>
<th>Uscita</th>
</tr>
<tbody>

#end

<tr#if($velocityCount%2  == 0) class="odd"#end>
<td class="c">##$rigaPartitario
#if ( $m.NumRegistro )
$!m.NumRegistro
#else
#set($registraDOG = true)
<input type="checkbox" name="registraDOG" value="$m.Data" id="registraDOG_$velocityCount" />
##<label for="registraDOG_$velocityCount">Registra</label>
##<a href="?cmd=editmovimento&id=$m.Id&assegnaRegDoganale=1&exec=1">Registra</a>
#end
</td>
###NON SERVE + il TIPO
###<td>#if($m.getIsScarico()) S#else C#end #if($m.getIsRettifica())(R)
##<a  href=".consegne?cmd=editmovimento&id=$m.Id">Modifica</a></td>
####else&nbsp;&nbsp;&nbsp;&nbsp;#end</td>


<td class="c">$tools.Date.format($dateFormat, $m.Data)</td>


#if($m.Documento)
<td class="c">$!m.Documento.Tipo</td>
<td class="c">$!m.Documento.Numero</td>
<td class="c">$!tools.Date.format('dd/MM/yy',$!m.Documento.Data)</td>
#else
<td></td><td></td><td></td>
#end
## #if($m.DocumentoPV)
## <td class="c">$!m.DocumentoPV.Tipo</td>
## <td class="c">$!m.DocumentoPV.Numero</td>
## <td class="c">$!tools.Date.format('dd/MM/yy',$!m.DocumentoPV.Data)</td>
## #else
## <td></td><td></td><td></td>
## #end

#if($m.getIsScarico() ||  $m.Umido.intValue() < 0 )
#if( $m.Umido.intValue() < 0 )
<td>&nbsp;</td>
<td class="r">$!tools.Number.format($tools.Math.mul( -1 , $m.Umido))</td>
#set($sumUmidoOut = $tools.Math.add( $sumUmidoOut , $tools.Math.mul( -1 , $m.Umido) ) )
#else
<td>&nbsp;</td>
<td class="r">$tools.Number.format($m.Umido)</td>
#set($sumUmidoOut = $tools.Math.add( $sumUmidoOut , $m.Umido ) )
#end
#set($sumUmido = $tools.Math.sub( $sumUmido , $m.Umido ) )
#else
<td class="r">$tools.Number.format($m.Umido)</td>
<td>&nbsp;</td>
#set($sumUmidoIn = $tools.Math.add( $sumUmidoIn , $m.Umido ) )
#set($sumUmido = $tools.Math.add( $sumUmido , $m.Umido ) )
#end

##<td>&nbsp;</td>

#if($m.getIsScarico() ||  $m.Secco.intValue() < 0 )
#if( $m.Secco.intValue() < 0 )
<td>&nbsp;</td>
<td class="r">$!tools.Number.format($tools.Math.mul( -1 , $m.Secco))</td>
#set($sumSeccoOut = $tools.Math.sub( $sumSeccoOut , $m.Secco ) )
#else
<td>&nbsp;</td>
<td class="r">$tools.Number.format($m.Secco)</td>
#set($sumSeccoOut = $tools.Math.add( $sumSeccoOut , $m.Secco ) )
#end
#set($sumSecco = $tools.Math.sub( $sumSecco, $m.Secco ) )
#else
<td class="r">$tools.Number.format($m.Secco)</td>
<td>&nbsp;</td>
#set($sumSeccoIn = $tools.Math.add( $sumSeccoIn , $m.Secco ) )
#set($sumSecco = $tools.Math.add( $sumSecco, $m.Secco ) )
#end

<td class="c">$!m.PosizioneDoganale</td>
<td class="c">$!m.RegimeDoganale</td>
<td class="c note">$!m.Note</td>

#*
#if( $m.getIsScarico() )
#set($sumSecco = $tools.Math.sub( $sumSecco , $m.Secco ) )
#set($sumUmido = $tools.Math.sub( $sumUmido , $m.Umido ) )
#else
#set($sumSecco = $tools.Math.add( $sumSecco , $m.Secco ) )
#set($sumUmido = $tools.Math.add( $sumUmido , $m.Umido ) )
#end
*#

#if ( $sumUmidoIn == $sumUmidoIn )
##<tr class="sep"><td colspan="10" align="center">Svuotamento Stallo</td></tr>
#end

#set($oldStallo = $m.Stallo)

#end

#if( $oldStallo.Id)
##if ( $sumUmidoIn == $sumUmidoOut )
<tr class="tot">
<td colspan="10" class="f" style="height:1pt;"><img src="$!wwwRoot/images/bgrabber.gif" width="1" height="1" alt=" "/></td>
</tr>
<tr class="tot">
<td colspan="5" class="r">Giacenza Attuale:</td>
#*
<td>$tools.Number.format($sumUmidoIn)</td>
<td>$tools.Number.format($sumUmidoOut)</td>
*#
<td class="c" colspan="2">$tools.Number.format($sumUmido)</td>
##<td>&nbsp;</td>
#*<td>$tools.Number.format($sumSeccoIn)</td>
<td>$tools.Number.format($sumSeccoOut)</td>
*#
<td class="c" colspan="2">$tools.Number.format($sumSecco)</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
##end
</tbody></table></div>
#end
