###if( $rettificaDone )
###set( $rettificaDone = true)
###end
<table border="0" class="movimenti" cellpadding="2" cellspacing="0" id="tablemovimenti">
<caption>Tasso di Cambio: <strong>$!tools.Number.format('##0.00000', $!obj.TassoCambio)</strong> - 
Valore Unitario: <strong>$!tools.Number.format('##0.00000', $!obj.ValoreUnitario) #if($!obj.IsValutaEuro)&euro;#else $ #end</strong><br /><br />
</caption>
<tr>
<th rowspan="2">Num.Registro<br /><a  href=".consegne?cmd=newmovimento&idC=$obj.Id&iva=1">[Nuovo IVA]</a></th>
##<th  rowspan="2" width="6%">Tipo&nbsp;&nbsp;</th>
<th rowspan="2">Data</th>
<th rowspan="2">Documento</th>
<th width="10%" colspan="2">Umido</th>
<th width="20" rowspan="2">&nbsp;</th>
<th width="10%" colspan="2">Secco</th>
<th width="20" rowspan="2">&nbsp;</th>
<th width="10%" colspan="2">Valore</th>

##<th width="20">Stallo</th>
##<th><input type="checkbox" onchange="selectDOG(this);" /></th>
</tr>
<tr>
<th>Entrata</th>
<th>Uscita</th>
<th>Entrata</th>
<th>Uscita</th>
<th>&euro;</th>
<th>$</th>
</tr>
<tbody>
#set($dateFormat = 'dd/MM/yy')
#set($sumSecco = 0)
#set($sumUmido = 0)
#foreach( $m in $obj.getRegistroIva(false) )
#if( ! $m.getIdStallo() )#set( $rettificaDone = false )#else#set( $rettificaDone = true )#end
<tr#if($velocityCount%2  == 0) class="odd"#end>

<td>
#if($m.NumRegistro)
$!m.NumRegistro
#else
#set($registraIVA = true)
#if ( $obj.Iter.IsSingoliCarichi )
<input type="checkbox" name="registraIVA" value="$m.Id" id="registraIVA_$velocityCount" />
#else
<input type="checkbox" name="registraIVA" value="$m.Data" id="registraIVA_$velocityCount" />
#end
##<label for="registraIVA_$velocityCount">Registra</label>
##<a href="?cmd=editmovimento&id=$m.Id&assegnaRegIVA=1&exec=1">Registra</a>
#end
<a  href=".consegne?cmd=editgroup&idC=$m.Consegna.Id&data=$m.Data.ymdString()&t=$m.Tipo&iva=1">[Modifica]</a>
</td>
##<td>#if($m.getIsScarico()) S#else C#end #if($m.getIsRettifica())(R)#else&nbsp;&nbsp;&nbsp;&nbsp;#end</td>
<td>$tools.Date.format($dateFormat, $m.Data)</td>
<td>$!m.Documento</td>


#if($m.getIsScarico() ||  $m.Umido.intValue() < 0 )
#if( $m.Umido.intValue() < 0 )
<td>&nbsp;</td>
<td class="r">$!tools.Number.format($tools.Math.mul( -1 , $m.Umido))</td>
#set($sumUmido = $tools.Math.add( $sumUmido , $m.Umido ) )
#else
<td>&nbsp;</td>
<td class="r">$tools.Number.format($m.Umido)</td>
#set($sumUmido = $tools.Math.sub( $sumUmido , $m.Umido ) )
#end
#else
<td class="r">$tools.Number.format($m.Umido)</td>
<td>&nbsp;</td>
#set($sumUmido = $tools.Math.add( $sumUmido , $m.Umido ) )
#end

<td>&nbsp;</td>

#if($m.getIsScarico() ||  $m.Secco.intValue() < 0 )
#if( $m.Secco.intValue() < 0 )
<td>&nbsp;</td>
<td class="r">$!tools.Number.format($tools.Math.mul( -1 , $m.Secco))</td>
#set($sumSecco = $tools.Math.add( $sumSecco , $m.Secco ) )
#else
<td>&nbsp;</td>
<td class="r">$tools.Number.format($m.Secco)</td>
#set($sumSecco = $tools.Math.sub( $sumSecco , $m.Secco ) )
#end
#else
<td class="r">$tools.Number.format($m.Secco)</td>
<td>&nbsp;</td>
#set($sumSecco = $tools.Math.add( $sumSecco , $m.Secco ) )
#end


<td>&nbsp;</td>
<td class="r"><strong>$!tools.Number.format('#,##0.00',$m.ValoreEuro )</strong></td>
<td class="r">$!tools.Number.format('#,##0.00',$m.ValoreDollari)</td>


##<td><a #if($velocityCount%25  == 0) id="lnk$m.Id"#end href=".consegne?cmd=editmovimento&iva=1&id=$m.Id">Modifica</a></td>

</tr>

#if ( "$sumUmido" == '0.0' )
##<tr class="sep"><td colspan="10" align="center">Svuotamento Stallo</td></tr>
#end
#end
<tr><td colspan="10" align="center">&nbsp;</td></tr>
<tr class="sepNoHi">
<th colspan="2">
#if($registraIVA)
<input type="checkbox" onchange="selectIVA(this);" id="selAll" /> <label for="selAll">Tutti</label><br />
<input type="button" value="Registra" onclick="registraIVA();">#end
&nbsp;</th>
<th colspan="2"><br /><b>Giacenza Attuale:</b></th>
<th colspan="2"><br /><b>$tools.Number.format($sumUmido)</b></th>
<th>&nbsp;</th>
<th colspan="2"><br /><b>$tools.Number.format($sumSecco)</b></th>
<th colspan="3">&nbsp;</th>

</tr>
</tbody></table>

## #if( ! $rettificaDone )<br /><a href="?id=$obj.Id&amp;cmd=popola">Popola Stalli</a><br /><br />#end

<script type="text/javascript">
function selectIVA(btn) {
	var list = document.getElementsByTagName('input');
	for( var el = 0; el < list.length ; el++ ) {
		if ( list[el].name && list[el].name == 'registraIVA' ) {
			list[el].checked = btn.checked ;
		}
	}
}
function registraIVA() {
	var list = document.getElementsByTagName('input');
	
	var ids = '' ;
	for( var el = 0; el < list.length ; el++ ) {
		if ( list[el].name && list[el].name == 'registraIVA' && list[el].checked ) {
			ids += '&list=' + list[el].value ;
		}
	}

	location.href='.registri?cmd=assegnaReg&iva=1&exec=1&c=$obj.Id' + ids ;
}
</script>