#set($activeMenu='PARTITARI')
#set( $addJs = ['/js/jquery.ui/ui.tabs.js','/js/jquery.ui/ui.calendar.js','/js/jquery.ui/ui.dialog.js','/js/jquery.ui/ui.dimensions.js','/js/jquery.ui/ui.resizable.js','/js/jquery.ui/ui.mouse.js','/js/jquery.ui/ui.draggable.js'])
#set( $addCss = ['/js/jquery.ui/themes/dogana/tabs.css','/js/jquery.ui/themes/flora/flora.calendar.css','/js/jquery.ui/themes/flora/flora.dialog.css','/js/jquery.ui/themes/flora/flora.resizable.css'] )
#parse('costanti.vm')
#parse('header.vm')

#set( $regIVA = $!obj.Iter.Regiva )
#set( $regDog = $!obj.Iter.Regdoganale )

<div class="view">

<div id="dettaglio">
Consegna Num.: <strong>$!obj.Numero</strong> - Partitario : <strong>$!obj.NumeroPartitario</strong><br />
Merce : <strong>$!obj.Merce.Nome</strong> - 
Iter : <strong>$!obj.Iter.Nome</strong><br>

#if( $!obj.Pesopolizza > 0 )Peso Polizza: <strong>$tools.Number.format($!obj.Pesopolizza) Kg #if($!obj.PesoFinalePortoCarico) (P.Finale Porto di Carico)#end</strong> -#end
Tasso di Umidit&agrave;: <strong>$!tools.Number.format('##0.0000000', $!obj.TassoUmidita)%</strong>

#if( ! $obj.ValoreUnitario || ! $obj.TassoCambio )
<br /><span style="color:red;font-weight:bold">Attenzione! Verificare 
il Valore Unitario e il Tasso di Cambio nel pannello di dettaglio!</span>
#end
</div>

<ul id="menuConsegna">
#if( $regDog ) <li><a href="#doganale">Registro<br />Doganale</a></li>#end
#if( $regIVA ) <li><a href="#iva">Registro<br />IVA</a></li> #end


#set($hasPartitario = false)
#foreach( $s in $!obj.StalliRegistrati )
#set($hasPartitario = true)
<li><a href="#partitario_$s.Id">Partitario<br />$s.Parco $s.Numero</a></li>
#end

##<li><a href="#partitario">Partitario</a></li>
##<li><a href="#dettaglio">Dettaglio</a></li>
</ul>

#set($needPopolaStalli=false)
#if($obj.Iter.getHasrettifica() && ! $obj.isPesoFinalePortoCarico())#set($needRettifica=true)#end

#if ( $regDog )
#foreach( $m in $obj.getRegistroDoganale(false) )
#if($m.IsRettifica)#set($needRettifica=false)#end
#if(! $m.getIdStallo())#set($needPopolaStalli=true)#end
#end
<div id="doganale">
#parse('consegne/registro_doganale.vm')
</div>
#end

#if ( $regIVA )
#if(! $regDog)
#foreach( $m in $obj.getRegistroIva(false) )
#if($m.IsRettifica)#set($needRettifica=false)#end
#if(! $m.getIdStallo())#set($needPopolaStalli=true)#end
#end
#end
<div id="iva">
#parse('consegne/registro_iva.vm')
</div>
#end

#if($hasPartitario)
#parse('consegne/partitario.vm')
#end
</div>
<div id="ret" class="print"></div>

<script type="text/javascript">
function initRowHighlighting(){
var table = document.getElementById('tablemovimenti');
attachRowMouseEvents(table.getElementsByTagName('tr'));
}
function attachRowMouseEvents(rows){
for(var i = 0;i < rows.length;i++){
var row = rows[i];
row.onmouseover = function(){ highlightRow(this, true);}
row.onmouseout = function() { highlightRow(this, false);}
// row.style.cursor = 'pointer';
}}

function highlightRow( row, isover) { 
if ( row.getAttribute('origClass') == null )
	row.setAttribute('origClass' , row.className) ;

if ( row.className.search(/nohi/i) < 0 )
	row.className = isover ? 'hi' : row.getAttribute('origClass');
}
window.onload = initRowHighlighting;

$(document).ready(function(){
$("#menuConsegna").tabs();

#set($immissioneLP=false)
#set($canImport=true)
#if ( $regDog  && $regIVA)
#set($canImport=false)
#foreach( $s in $obj.Stalli )
#if( ! $s.HasLiberaPratica )#set($immissioneLP=true)#else#set($canImport=true)#end
#end
#end
#if( ! $obj.ValoreUnitario || ! $obj.TassoCambio )
#set($immissioneLP=false)
#end

## #if(!$immissioneLP && $regIVA )$("#menuConsegna").tabsClick( 2 );#end

});
</script>




<div class="commands">
<ul>
<li><a href="#" onclick="$('#dlg_Stampa').dialogOpen();return false;"><img src="$!images/action-ico-stampa.png" /> Stampa</a></li>
#if($obj.isChiusa())

#elseif($obj.isAperta()) 
##<li><a href=".consegne?cmd=edit&id=$obj.Id"><img src="$!images/action-ico-immetti.png" /> Modifica</a></li>
##<li><a href=".consegne?cmd=chiudi&id=$c.Id&exec=1" onclick="return confirm('Chiudi la consegna selezionata?');"><img src="$!images/action-ico-elimina.png" />Chiudi</a></li>
#else 
##<a href="?cmd=apri&id=$c.Id&exec=1" onclick="return openDialog($c.Id,'#dlg_OpenC');">[ Apri ]</a>

##<li><a href=".consegne?cmd=apri&id=$c.Id&exec=1" onclick="return confirm('Aprire la consegna?');"><img src="$!images/action-ico-apri.png" />Apri</a></li>

#end

<li><a href="#" onclick="$('#dlg_Travasa').dialogOpen();"><img src="$!images/action-ico-immetti.png" /> Travasa/Libera Stallo</a></li>

#if ( $obj.isAperta() )

#if($needRettifica || $needPopolaStalli)
<li><a href="?id=$obj.Id&amp;cmd=popola"><img src="$!images/action-ico-immetti.png" />Popola Stalli</a></li>
#end
## Sostituisce il test su rettificaDone, che va cambiato di nome xke non rispecchia il vero senso della variabile...
#if( $needRettifica )
<li><a href="?id=$obj.Id&amp;cmd=rettifica"><img src="$!images/action-ico-immetti.png" />Rettifica</a></li>
#end

#if($rettificaDone && $immissioneLP )
<li><a href="#" onclick="$('#dlg_LiberaPratica').dialogOpen();"><img src="$!images/action-ico-registra.png" />Immetti in L.P.</a></li>
#end

#if( $rettificaDone && $canImport )
<li><a href="#" id="import_$obj.Id" onclick="openDialog($obj.Id,'#dlg_ImportTo');"><img src="$!images/action-ico-immetti.png" />Importa Scarichi</a></li>
#if ($obj.isPesoFinalePortoCarico() && ! $registraIVA )
<li><a href="?id=$obj.Id&amp;cmd=chiudiPFPC&exec=1" onclick="return confirm('Chiudere la consegna?');"><img src="$!images/action-ico-registra.png" />Chiudi PFPC</a></li>
#end
#end

#end
## END IF IS APERTA

<li><a href=".consegne?cmd=edit&id=$obj.Id"><img src="$!images/action-ico-modifica.png" /> Modifica</a></li>
##<li><a href=".consegne?cmd=edit"><img src="$!images/action-ico-nuovo.png" /> Nuova consegna</a></li>
</ul>
</div>



<div id="dlg_Stampa" class="flora" style="text-align:center;">

<form action="" id="frm_Stampa" method="POST">
Stallo: 
<select size="1" name="idStallo" id="idStallo">
<option value="-1" selected="selected">Tutti</option>
#foreach( $s in $obj.StalliRelazionati )
<option value="$s.Id" >$s.Nome</option>
#end
</select>
<br /><br />
<label>Stampa a partire dal N. di registro (incluso): <input type="text" name="minNumRegistro" size="6" id="minNumRegistro" /></label><br />
<br />
<label>Continua da Pagina: <input type="text" name="paginaPrecedente" size="6" id="paginaPrecedente" /></label><br />
<br /><br />
</form>
</div>


<div id="dlg_Travasa" class="flora" style="text-align:center;">
<form action="" id="frm_Travasa" method="POST">
<input type="hidden" name="cmd" value="travasa" />
<input type="hidden" name="exec" value="1" />
<input type="hidden" name="idC" value="$obj.Id" />

Stallo di origine : 
<select size="1" name="from">
#foreach( $s in $obj.StalliRelazionati )
<option value="$s.Id" >$s.Nome</option>
#end
</select>
<br /><br />
<label><input type="radio" group="travaso" name="travaso" checked="checked" value="false" /> Svuotamento totale</label><br />
<br /><br />
<label><input type="radio" group="travaso" name="travaso" value="true" /> Travasa allo stallo : </label> 
<select size="1" name="to">
#foreach( $s in $stalli )
#if( $s.isLibero() )
<option value="$s.Id" >$s.Nome</option>
#end
#end
</select>
</form>
</div>

<div id="dlg_ImportTo" class="flora" style="text-align:center;">
Inserire la data fino alla quale si desidera importare (compresa):
<input type="text" size="10" maxlength="10" id="dataImport" />
#if( $immissioneLP  )
<br />
#foreach( $s in $obj.Stalli )
#if($s.HasLiberaPratica )
<input type="checkbox" name="idstalli2import" value="$s.Id" id="libPrat_$velocityCount" />
<label for="libPrat_$velocityCount">$s.Nome</label><br />
#end#end#end
</div>


<div id="dlg_LiberaPratica" class="flora" style="text-align:center;">
<form action=".consegne" id="frm_immettiLP" method="POST">

<input type="hidden" name="cmd" value="immettiLP" />
<input type="hidden" name="exec" value="1" />
<input type="hidden" name="c" value="$obj.Id" />

<fieldset><legend>Selezione degli Stalli</legend>
#foreach( $s in $obj.Stalli )
#if(! $s.HasLiberaPratica )
<input name="list" value="$s.Id" id="libPrat_$velocityCount" #if($autocheck)checked="checked"#end type="checkbox" />
<label for="libPrat_$velocityCount">$s.Nome</label><br />
#end#end
</fieldset>

<fieldset><legend>Dati del Movimento</legend>
Valore USD: <input type="text" name="valoreDollari" size="10" id="valoreDollari" value="" /> 
Tasso EUR/USD: <input type="text" name="tasso" size="5" id="tasso" value="" /><br />
Oneri Accessori:&nbsp;&nbsp;<input type="text" name="valoreTestp" size="10" id="valoreTestp" value=""/> &nbsp;&nbsp;
Data : <input type="text" name="dataLP" size="10" id="dataLP" value="" /><br />
</fieldset>

##

<fieldset><legend>Documento di Ingresso</legend>
Tipo: <select name="doc"><option value="IM4" selected="selected">IM4</option><option value="COM">COM</option></select>
Numero: <input type="text" name="doc_num" size="3"/>
Data:  <input type="text" name="doc_data" id="doc_data" size="9"/></fieldset>
<fieldset><legend>Documento di Ingresso (Portovesme)</legend>
Tipo: <select name="docPV"><option value=""></option><option value="IM7">IM7</option><option value="IM4" selected="selected">IM4</option><option value="COM">COM</option></select>
Numero: <input type="text" name="docPV_num" size="3"/>
Data:  <input type="text" id="docPV_data" name="docPV_data" size="9"/></fieldset>
<br />
Note :<br />
<textarea name="note" cols="40" rows="2" style="width:90%"></textarea>
<br />
##<input type="button" value="Immetti in L.P." onclick="immettiLP();">
</form>
</div>

<script type="text/javascript">

$('document').ready( function() {

/*$('input[type="checkbox"]').change(function () {
       var stallo = $(this).val();
       var checked = $(this).is(':checked');
       var val = $('#usd_' + stallo).val();
       console.log( checked, val);
   });*/
popUpCal.regional['it'] = {clearText: 'Svuota', closeText: 'Chiudi',
prevText: '&lt;Prec', nextText: 'Succ&gt;', currentText: 'Oggi',
dayNames: ['Do','Lu','Ma','Me','Gio','Ve','Sa'],
monthNames: ['Gennaio','Febbraio','Marzo','Aprile','Maggio','Giugno',
'Luglio','Agosto','Settembre','Ottobre','Novembre','Dicembre']};

popUpCal.setDefaults(popUpCal.regional['it']);


function stampaPartitari() {
var idStallo = 1*$('#idStallo').val();
var minNumRegistro   = 0 + 1*$('#minNumRegistro').val();
var paginaPrecedente = 0 + 1*$('#paginaPrecedente').val();

if( idStallo === -1 || ( minNumRegistro > 0 && paginaPrecedente > 0) ){
$('#ret').load('?id=$obj.Id&cmd=print&idStallo='+idStallo+'&minNumRegistro='+minNumRegistro+'&paginaPrecedente='+paginaPrecedente, {}, function(){doPrint(true);} );
} else {
	alert('Attenzione, per poter stampare un solo stallo bisogna indicare la pagina precedente e il numero di partenza!');
}
}


jQuery('#dataLP').calendar();

$("#dlg_Stampa").dialog({ width:500,height:220,buttons:
{Stampa:function(){stampaPartitari(this);},Annulla:function(){$("#dlg_Stampa").dialogClose();}}
});
$("#dlg_Stampa").dialogClose();

$("#dlg_Travasa").dialog({ width:500,
height:420,buttons:{'Travasa/Libera Stallo': function(){travasaStallo(true);} ,Annulla : function() { $("#dlg_Travasa").dialogClose(); } } 
});
$("#dlg_Travasa").dialogClose();

$("#dlg_LiberaPratica").dialog({ width:500,
height:520,buttons:{'Immetti in L.P.': function(){immettiLP(true);} ,Annulla : function() { $("#dlg_LiberaPratica").dialogClose(); } } 
});
$("#dlg_LiberaPratica").dialogClose();

$("#dlg_ImportTo").dialog({ width:360,
height:240,buttons:{Importa: function(){importTo(true);} , Annulla : function() { $("#dlg_ImportTo").dialogClose(); } }
//  l'annulla era  importTo(); ma non so xke
});
jQuery('#dataImport').calendar();
jQuery('#docPV_data').calendar();
jQuery('#doc_data').calendar();

$("#dlg_ImportTo").dialogClose();

} ) ;

function openDialog( id , dialogId) {
idConsegna = id ;
$(dialogId).dialogOpen();
return false ;
}
function importTo( exec ) {

$("#dlg_ImportTo").dialogClose();
var data = jQuery('#dataImport').attr('value') ;

var ids = '' ;
var list = document.getElementsByTagName('input');
for( var el = 0; el < list.length ; el++ ) {
	if ( list[el].name && list[el].name == 'idstalli2import' && list[el].checked ) {
		ids += '&stalli=' + list[el].value ;
	}
}
#if( $immissioneLP  )
if ( ids == '' )  {
	alert ( 'Selezionare almeno uno stallo per effettuare l\'importazione') ; 
	return false ;
}
#end

// var lnk = 
if( data && data != '' ) {
window.location.href = '.main?cmd=import&exec=1&idConsegna=' + idConsegna + '&to=' +  data + ids ;
}

idConsegna = -1 ;
return false ;
}

function travasaStallo() {
	var f = document.getElementById('frm_Travasa') ;
	if ( f ) 
		f.submit() ;
	else
		alert( 'Errore: no form LP!');
}

function immettiLP() {
	var list = document.getElementsByTagName('input');
	var data = document.getElementById('dataLP').value;
	
	var valoreDollari = document.getElementById('valoreDollari').value;
	var tasso = document.getElementById('tasso').value;
	var valoreTestp = document.getElementById('valoreTestp').value;
	
	if ( ! data || data == '' ) {
		alert ( 'Inserire la data di immissione.') ; 
		return false ;
	}
	if ( ! valoreDollari || valoreDollari == '' ) {
		alert ( 'Attenzione! Inserire il valore totale in Dollari degli stalli da immettere.') ; 
		return false ;
	}
	if ( ! valoreTestp || valoreTestp == '' ) {
		alert ( 'Attenzione! Inserire il valore totale del Tes/Tp in Euro degli stalli da immettere.') ; 
		return false ;
	}
	if ( ! tasso || tasso == '' ) {
		alert ( 'Attenzione! Inserire il tasso di conversione tra Euro e Dollaro.') ; 
		return false ;
	}
	
	var ids = '' ;
	for( var el = 0; el < list.length ; el++ ) {
		if ( list[el].name && list[el].name == 'list' && list[el].checked ) {
			ids += '&list=' + list[el].value ;
		}
	}
	
	if ( ids == '' )  {
		alert ( 'Selezionare almeno uno stallo per effettuare l\'immissione in Libera Pratica.') ; 
		return false ;
	}
	
	
	
	// location.href='?cmd=immettiLP&exec=1&c=$obj.Id&dataLP=' + data + ids ;
	
	var f = document.getElementById('frm_immettiLP') ;
	if ( f ) 
		f.submit() ;
	else
		alert( 'Errore: no form LP!');
}
</script>

#parse('footer.vm')